.appDiv {
    text-align: center;
    width: fit-content;
}

.genContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.nnrow {
    column-gap: 30px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 30px;
}

.propic {
    border-radius: 45%;
    height: 60px;
    width: 60px;
}

.card {
    flex-direction: row;
}


.ncol {
    column-gap: 30px;
    display: flex;
    flex-direction: column;
}

.nrow {
    column-gap: 30px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 30px;
}

#stk,
.stk {
    position: sticky;
    left: 0px;
    right: 0px;
    padding-left: 22%;
    margin-left: 0%;
}

#h1Div {
    text-align: left;
    display: flex;
    position: relative;

}

#h1gen1 {
    /* display: block; */
    position: sticky;
    left: 0px;
    right: 0px;
    padding-left: 20%;
}
.hDiv{
    text-align: center;
    display: flex;
}
#h6gen {
    /* display: block; */
    position: sticky;
    left: 15px;
    right: 15px;
}

#couple {
    text-align: center;
}

.couple {
    text-align: center;
}